.pagination-wrapper{
  border: 1px solid #e3e7eb;
  border-radius: 5px;
  width: fit-content;
  max-width: 162px;
  overflow: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: 10px;
  position: relative;
}

.list-items{
  border: 1px solid #e3e7eb;
  padding: 5px;
  border-radius: 5px;
  margin-right: 10px;
  min-width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-items:last-child{
  margin-right: 0;
}

.list-items:hover{
  cursor: pointer;
  background-color: ghostwhite;
}

.active{
  background-color:#e3e7eb;
}